.component {
    display: grid;
    grid-template-rows: 1fr 40px;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 220px;
    min-height: 60px;
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid white;
    }
}
