.component {
    display: grid;
    grid-template-rows: 1fr min-content;
    background: #3c1f7b;
    border-radius: 5px 0 0 5px;
    width: 320px;
    padding: 16px;
    gap: 10px;
    .description {
        width: 100%;
        display: flex;
        overflow: auto;
        overflow-wrap: anywhere;
        border-top: 1px solid #ac76e6;
        padding-top: 10px;
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
