.component {
    padding: 30px;
    height: 100%;
    .list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: self-start;
        justify-content: center;
        margin-top: 20px;
        height: 95%;
        flex-wrap: wrap;
        align-content: flex-start;
        .item {
            display: flex;
            flex-direction: row;
        }
    }
    .search-bar {
        display: grid;
        place-items: center;
        width: 100%;
        grid-template-rows: 1fr 40px;
        input {
            min-width: 300px;
            width: 50%;
            height: 30px;
            padding-left: 10px;
        }
        .order-buttons {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }
    }
}

.speeddial {
    bottom: 100px;
    right: 100px;
    position: fixed;
}

.dialog {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    textarea {
        width: 100%;
    }
    .priority-calendar {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

:host ::ng-deep {
    .p-button.p-button-icon-only {
        border-radius: 0 5px 5px 0;
        width: 30px;
        height: 100%;
    }
    .p-button.p-button-icon-only.p-button-rounded {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }
}
